/* Background pattern from Subtle Patterns: https://www.toptal.com/designers/subtlepatterns/ */

body {
  background-color: #fff;
  background-image: url("images/circles-dark.png");
}

.banner {
  background-image: url("images/circles-light.png");
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 20px;
  border-top: 10px solid #636363;
  border-bottom: 10px solid #636363;
}

.banner a {
  color: #185729;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 34px;
  color: #343434;
  margin: 5px;
}

h2, h3, p {
  font-family: Arial, sans-serif;
  color: #343434;
}

h2 {
  font-family: 'Patua One', sans-serif;
  color: #664075;
  font-size: 28px;
}

h3 {
  font-family: 'Patua One', sans-serif;
  color: #9A84A3;
  font-size: 24px;
}

p {
  font-size: 20px;
}

a {
  color: #478958;
  text-decoration: none;
}

a:hover {
  color: #99BEA3;
}

#random-fact {
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

.content {
  background-color: #fff;
  border: 1px solid #BEC1D3;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.project-item {
  background-color: #FFF6DC;
  width: 400px;
  height: 200px;
}
