body {
  background-color: #ffffff;
}

.banner {
  padding: 20px 0px;
  text-align: center;
  background-color: #9a84a338;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Patua One', cursive;
  color: #343434;
}

h2, h3, p {
  font-family: Arial, sans-serif;
  color: #343434;
}

h2 {
  font-family: 'Patua One', cursive;
  color: #9A84A3;
}

a {
  color: #605265;
  text-decoration: none;
}

.content {
  background-color: #ffffff;
  border: 1px solid #BEC1D3;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.project-item {
  background-color: #FFF6DC;
  width: 400px;
  height: 200px;
}
